
* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #e2e2e2;
	height: 92px;
	line-height: 92px;
	color:#333;
	font-family: Arial;
	font-size: 24px;
	
}

.header h1, .header p {
	float: left;
	margin-left: 10px;
}

.content {
	padding: 20px;
	min-height: calc(100vh - 212px);
	
}

.footer {
	height: 80px;
	background-color: #e2e2e2;
	vertical-align: middle;
	line-height: 80px;
}
.footer p {
	margin-left: 40px;
	
	color:#333;
}

